@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

/* * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	font-family: Raleway, sans-serif;
} */

/* body {
	background: linear-gradient(90deg, #C7C5F4, #776BCC);	
	overflow-x: hidden;	
} */
body{
	background:#ffffff;
}

.container2 {
	display: flex;
	align-items: center;
	justify-content: center;
	width:100%
}

.screen {	
	background: #fff;		
	position: relative;	
	width: 100%;	
	box-shadow: 0px 0px 24px #707070;
}

.screen__content {
	z-index: 1;
	position: relative;	
	
}
.row{
	 margin: 0;
}

.login {
	
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.login__field {
	padding: 10px 0px;	
	position: relative;	
	width: 100%;
}

.login__icon {
	position: absolute;
	top: 30px;
	color: #0a1330;
}

.login__input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 59%;
	transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: #6A679E;
}

.login__submit {
	background: #fff;
	font-size: 14px;
	margin-top: 10px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 50%;
	height:2rem;
	color: #4C489D;
	box-shadow: 0px 2px 2px #5C5696;
	cursor: pointer;
	transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: #6A679E;
	outline: none;
}

.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: #7875B5;
}
/* 
.social-login {	
	position: absolute;
	height: 140px;
	width: 200px;
	text-align: center;
	bottom: 0px;
	right: 0px;
	padding-left:25px;
	color: #fff;
	text-align: center;
}

.social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-login__icon {
	padding: 20px 10px;
	color: #fff;
	text-decoration: none;	
	text-shadow: 0px 0px 8px #7875B5;
}

.social-login__icon:hover {
	transform: scale(1.5);	
} */
.para{
	color:black
}